<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Lifecycle</title>
</head>
<body style="text-align: center;padding:20vh 0">
    <div class="ex_l-c">
        {{ message }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script></script>
    <script>
        new Vue ({
            el: '.ex_l-c',
            data: {
                message: 'vue.js-lifecycle'
            },
            beforeCreate: function() {
                console.log("beforeCreate");
            },
            mounted: function(){
                console.log("mounted");
                this.message = "Lifecycle-vue.js";
            },
            created: function(){
                console.log("created");
            },
           
            updated: function() {
                console.log("updated");
            },
        });
    </script>
</body>
</html>