hr{
  margin:30px 0;
}
h2{
  margin-bottom:20px;
  color:#464646;
  & + .img_area{
    margin:0 0 30px;
  }
}

p{
  font-size: 18px;
  font-weight: 500;
  color: #3f3f3f;
}


/* img_area */
.img_area{
  margin:30px 0;
  >img{
    max-width: 100%;
  }
}


/* link */
.link_txt{
  display: inline-block;
  margin-top:30px;
  >span{
    position: relative;
    display: inline-block;
    padding:15px 15px 15px 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    background-color: #313131;
    color:#fff;
    border-radius: 10px;

    &::before{
      position: absolute;
      top:50%;
      left:15px;
      content: '';
      width:20px;
      height:20px;
      transform: translateY(-50%);
      border-radius: 5px;
    }
  }
  
  &.figma{
    >span{
      &::before{
        background:url('./assets/images/common/ico_figma.png') #fff no-repeat center / cover;
      }
    }
  }
}

.link_btn {
  display:block;
  width:90%;height:auto;
  border-radius:12px;
  cursor:pointer;
  text-align:left;
  font-weight:bold;
  color:#FFF !important;
  padding:50px 60px;
  margin:50px auto;

  &.western {
    background:url('./assets/images/common/main_visual.png') no-repeat center/cover;
    span {
      font-size:15px;
      opacity:0.6;
    }
    p {
      color:#FFF;
      font-size:26px;
      margin:23px 0 32px;
      text-shadow:1px 1px 1px rgba(0,0,0,0.5);
    }
    em {
      font-style:normal;
      font-size:15px;
      color:#2B78C2;
      text-shadow:2px 1px 3px rgba(255,255,255,0.4);
    }
  }
}
